body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.title{
    margin: 20px 0px;
}

#buttons {
    display: flex;
    width: 500px;
    justify-content: space-evenly;    
}

.buttons {
    border: 0px;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    color: white;


}

.drawBlck {
    background-color: #2e2929;

}

.drawRndm {
    background-color: rebeccapurple;
}

.btnClr {
    background-color: crimson;
}

.btnSize {
    background-color: darkslateblue;
}

#grid {
    border: 1px solid black;
    margin: 20px;
    width: 650px;
    height: 650px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    width: calc(100% / 16);
    height: calc(100% / 16);
}